# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Compiled Python files
*.pyc
*.pyo

# Virtual environment
venv/
env/
*.env
/.env.*

# Editor / IDE specific
.vscode/
.idea/
*.pyc
*.pyo
*.pyd
*.swp
*.bak
*.tmp
*.sublime-project
*.sublime-workspace
*.swo
*.tmproj
Thumbs.db
.DS_Store
